<!--<beans:beans xmlns="http://www.springframework.org/schema/security"-->
             <!--xmlns:beans="http://www.springframework.org/schema/beans"-->
             <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
             <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
             <!--http://www.springframework.org/schema/beans/spring-beans-4.2.xsd-->
             <!--http://www.springframework.org/schema/security-->
             <!--http://www.springframework.org/schema/security/spring-security-4.2.xsd">-->

    <!--<http auto-config="true">-->
        <!--<intercept-url pattern="/admin**" access="hasRole ('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/user**" access="hasRole ('ROLE_USER')"/>-->

        <!--<form-login-->
                <!--login-page="/login"-->
                <!--login-processing-url="/login?do_login=true"-->
                <!--authentication-failure-url="/login?error=true"-->
                <!--username-parameter="username"-->
                <!--password-parameter="password"/>-->
        <!--<logout-->
                <!--logout-url="/logout"-->
                <!--delete-cookies="JSESSIONID"-->
                <!--invalidate-session="true"/>-->
    <!--</http>-->

    <!--<authentication-manager>-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="admin" password="123456" authorities="hasRole ('ROLE_ADMIN')"/>-->
                <!--<user name="user" password="123456" authorities="hasRole ('ROLE_USER')"/>-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->

<!--</beans:beans>-->